---
import { processArticleDate } from "../lib/utils";
import Anchor from "./common/Anchor.astro";

export type Props = {
  title: string;
  description: string;
  url: string;
  duration?: string;
  timestamp?: string;
};

const { title, description, url, duration, timestamp } = Astro.props;
---

<div class="zag-text zag-transition flex flex-col gap-3 py-5 border-b border-zag-dark/15 dark:border-zag-light/15">
  <Anchor url={url} class="text-lg">
    {title}
  </Anchor>
  <p class="zag-muted zag-transition text-sm leading-7 max-w-[var(--content-width)]">
    {description}
  </p>
  <div
    class="zag-muted zag-transition flex justify-between items-center text-xs"
  >
    {timestamp ? <p>{processArticleDate(timestamp)}</p> : null}
    {duration ? <p>{duration}</p> : null}
  </div>
</div>
